<section>
  {% if page.url =="/index" %}
    <h3 class="h3-about">About Myself</h3>
  {% endif %}
  <div class="face-lockup {% if page.url =="/about" %}padding{% endif %}">
    <div class="face-img"></div>
    <div class="icon-facebook"><a href="https://www.facebook.com/irma.jpg.photography/">{% include icons/facebook.html %}</a></div>
    <div class="icon-instagram"><a href="https://www.instagram.com/irma.jpg/">{% include icons/instagram.html %}</a></div>
    <div class="icon-tumblr"><a href="http://whateverirmawants.tumblr.com/">{% include icons/tumblr.html %}</a></div>
    <div class="icon-mail"><a href="">{% include icons/mail.html %}</a></div>
  </div>

  <div class="text-wrap">
    <p>Zovem se <strong>Irma</strong>, dolazim iz Križevaca, imam 20 godina. Osim studiranja Socijalne pedagogije na Edukacijsko-rehabilitacijskom fakultetu, aktivna sam i u Udruzi studenata Koprivničko-križevačke županije, a s križevačkim srednjoškolcima radim na projektu <a href="https://www.facebook.com/inicijativaESPR/?fref=ts">Eat, sleep, party, repeat</a>. Fotografijom se bavim 5 godina i fotkam portrete.</p>
  </div>
  {% if page.url =="/index" %}
    <a href="about" class="cta">opširnije</a>
  {% endif %}
</section>
