---
permalink: "/blog"
layout: default
title: blog
image: heroes/blog-hero.jpg
navigation_weight: 3
---

<section>

  <div class="blog-grid">

  <div class="main-col">
    {% for post in site.posts limit: 10 %}
    <a href="{{post.url}}">
      <div class="post-wrap">
          <div class="blog-img" style="background-image:url(/../assets/img/{{post.image}})"></div>

          <div class="blog-info">

            <p><i class="fa fa-calendar-o"></i>{{post.date | date: "%d/%m/%Y"}}</p>

            <p><i class="fa fa-pencil" aria-hidden="true"></i>{{post.author}}</p>
            <p><i class="fa fa-th-large" aria-hidden="true"></i>{{post.categories}}</p>

          </div>

          <h3>{{post.blog_title | truncate: 60}}</h3>
          <p>{{post.excerpt| truncate: 200}} </p><a class="cta-reading" href="{{ post.url }}">nastavi čitati</a>
          <hr>
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="side-col">
    <div class="social-feed">

      <div class="category">
        <h5>Arhiva</h5>

        {% include archive.html %}

      </div>

      <div class="instagram">
        <h5>Instagram</h5>
        <iframe src="//users.instush.com/bee-gallery-v2/?cols=3&rows=3&size=small&border=0&round=false&space=0&sl=true&bg=transparent&brd=false&na=false&pin=false&hc=e72476&ltc=3f3f3f&lpc=ffffff&fc=ffffff&user_id=1192556527&username=kaypeo&sid=-1&susername=-1&tag=-1&stype=mine&t=999999jOhXl-Gla02kjUV7nX50Mwr2zsM_Ujl4pSSJ60RN_Wcz-8tfgkfc_EwQaU9SYZ3bJaXKHcxb7rc" allowtransparency="true" frameborder="0" scrolling="no" ></iframe>
      </div>

      <div class="facebook">
        <h5>Facebook</h5>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Firma.jpg.photography%2F&tabs=timeline&width=300&height=700&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=true&appId=238667916183840" width="300" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>

    </div>


  </div>

  </div>

</section>
