.blog
  display: flex
  justify-content: space-between
  .col
    box-sizing: border-box
    padding: 0 10px
    width: calc(100% / 3)
    height: 400px
    background-color: green

    .blog1
      background-image: url(../img/blog/blog1.jpg)
    .blog2
    .blog3
