header
  height: 450px
  background: #ccc
  background-image: url(../img/hero.jpg)
  background-position: center
  background-size: cover
  .logo
    float: left
    margin: 20px 0px 0px 30px
    color: white
  nav
    float: right
    margin: 30px 30px 0 0
    a
      display: inline-block
      margin-left: 20px
      color: rgba(255,255,255,0.6)
      font-weight: 700
      text-transform: uppercase
      font-size: 14px

      &:hover
        color: rgba(255, 255, 255, 1)
  h1
    text-align: center
    font-size: 72px
    font-weight: 700
    color: white
    text-transform: uppercase
    letter-spacing: 0.05
    margin-bottom: 20px
    clear: both
    padding-top: 100px
    span
      display: inline-block
      border: white solid 10px
      padding: 0.2em 0.5em
